# env
.env

# docker
compose.override.yml
docker-compose.override.yml

# Firebase Service Account Credentials
serviceAccountKey.json
*serviceAccountKey*.json

# Adminer 
**/adminer

# Database snapshots
postgres/snapshots/*
!postgres/snapshots/.gitkeep
